.wallet {
    -fx-min-width: 280px;
    -fx-background-color: #03a9f4;
    -fx-padding: 30px 100px 30px 100px;
    -fx-background-insets: 5px;
    -fx-font-size: 15px;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}